//
//  Config.xcconfig
//  AImaKit
//
//  Example from https://gist.github.com/carlosmcevilly/1457794
//
//    xcodebuild -project Foo.xcodeproj -target Foo -configuration Debug -sdk iphonesimulator5.0 clean build
//
//  Also see:
//    https://coderwall.com/p/rv2lgw/use-xcodebuild-to-build-workspace-vs-project
//    https://developer.apple.com/library/archive/technotes/tn2339/_index.html
//
